*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
tmp/devdb.log
target/
tmp/
bin/
.project
target/surefire-reports/TEST-app.controllers.ItemExpireControllerTest.xml
target/surefire-reports/TEST-app.controllers.ListaControllerTest.xml
src/main/java/app/controllers/AuthController.java
tmp/devdb.log
*.log
*.log
